.players{
    background-color: gray;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    width: 70%;
}
.card{
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 250px;
    width: 190px;
}