body{
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    color: white;
    font-size: 1.3em;
}
.main{
    width: 50%;
    margin: auto;
    border: 1px solid gray;
    padding-bottom: 20px;
}
header i{
    float: right;
    padding-right: 30px;
    cursor: pointer;
}
.dokument{
    padding: 20px 0 0 40px;
    display: flex;
}
.prvi{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#first{
    padding: 5px;
    width: 80%;
    height: 20px;
    border: 1px solid rgb(184, 184, 184);
}
.doc{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.stan{
    display: flex;
    width: 100%;
    padding: 0;
}
.stan div{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 30px;
    width: 40%;
}
.stan #first{
    width: 60%;
    height: 30px;
    padding: 5px;
}
.stan #second{
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid rgb(184, 184, 184);
}
.lozinka{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.drugi{
    width: 41%;
}
#stan{
    padding: 5px;
    width: 40%;
    height: 15px;
    border: 1px solid rgb(184, 184, 184);
}
.ponlozinka{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#druga{
    padding: 5px;
    width: 100%;
    height: 20px;
    border: 1px solid rgb(184, 184, 184);
}
.radio{
    margin-top: 30px;
}
#zenski{
    margin-left: 50px;
}
.robot{
    margin-top: 20px;
    background-color: rgb(221, 221, 221);
    padding: 10px;
}
#re{
    width:20px;
    height:20px;
}
.robot p{
    display: inline-block;
    margin: 0;
}
.box{
    margin: 30px 0 0 40px;
}
a{
    color: black;
}
.button{
    width: 50%;
    cursor: pointer;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
}
.button:hover{
    transition: 0.3s;
    background-color: rgb(54, 54, 54);
}