body{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    padding: 0;
    margin: 0;
}
#logo{
    width: 1500px;
    height: 750px;
    margin: 0;
    padding: 0;
}
.glavni{
    background-color: black;
    color: white;
    width: 100%;
}
i{
    color: white;
    font-size: 3em;
    margin: 20px 0 0 40px;
}
h1{
    font-size: 4em;
    margin: 70px 0 0 40px;
}
h2{
    font-size: 2em;
    margin: 50px 0 0 40px;
}
.google{
    display: flex;
    padding: 7px 0px 7px 25px;
    width: 50%;
    border: 1px solid gray;
    font-size: 1.3em;
    border-radius: 20px;
    margin: 40px 0 0 40px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.google i{
    font-size: 1.1em;
    margin: 0 5px 0 10px;
    color: black;
}
.apple{
    display: flex;
    padding: 7px 0px 7px 25px;
    width: 50%;
    border: 1px solid gray;
    font-size: 1.3em;
    border-radius: 20px;
    margin: 10px 0 0 40px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.apple i{
    font-size: 1.2em;
    margin: 0 5px 0 10px;
    color: black;
}
.linija{
    display: flex;
    margin: 20px 0 0 40px;
}
.linija div{
    width: 26%;
    height: 1px;
    margin-top: 8px;
    background-color: gray;
    
}
.linija p{
    margin: 0 10px;
}
.tel{
    padding: 7px 0px 7px 25px;
    width: 50%;
    border: 1px solid rgb(27, 27, 250);
    font-size: 1.3em;
    border-radius: 20px;
    margin: 15px 0 0 40px;
    background-color: rgb(56, 56, 253);
    color: white;
    cursor: pointer;
}
.tel:hover{
    background-color: rgb(29, 29, 226);
}
.text{
    width: 50%;
    margin: 10px 0 0 40px;
    font-size: 0.8em;
}
.text p{
    color: gray;
}
h3{
    margin: 80px 0 0 40px;
    font-size: 1.2em;
}
.signin{
    padding: 7px 0 ;
    text-align: center;
    width: 50%;
    border: 1px solid grey;
    font-size: 1.3em;
    border-radius: 20px;
    margin: 15px 0 0 40px;
    background-color: black;
    color: rgb(27, 27, 250);
    cursor: pointer;
}
.signin:hover{
    background-color: rgb(1, 1, 39);
}
::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: grey;
    border-radius: 5px;
}