table{
    width: 50%;
    font-size: 0.9em;
    border-collapse: collapse;
    border-top-left-radius: 15px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
*{
    font-family: 'Quicksand', sans-serif;
}
th ,td{
    border-bottom: 1px solid rgb(185, 185, 185);
    border-collapse: collapse;
}
th{
    background-color: rgb(1, 126, 1);
    padding: 10px;
    height: 50px;
    color: white;
    text-align: left;
    letter-spacing: 1px;
}
td{
    height: 50px;
    padding: 10px;
}
.red2:nth-child(odd) {
    background-color: #f3f3f3;
    color: rgb(1, 126, 1);
    font-weight: bold;
}
.red3{
    border-bottom: 3px solid rgb(1, 126, 1);
}